# These are some examples of commonly ignored file patterns.
# You should customize this list as applicable to your project.

# 3rd Party
Pods
.gem
.scannerwork
Gemfile.lock
Podfile.lock

# Build
.build
.build.xcarchive
.match
.vscode/
MobSFScanReports/
upload_dsym_results
statistics.yml
protectionreport.html
telemetry_dump.json
culprits.txt
dSYMs/
mapping.yml
Artifacts/
# .ruby-version

# Test and Sonar
sonar-reports/
# Sonar/sonar-project.properties

# Project
Pokemon.xcodeproj/xcuserdata
Pokemon.xcodeproj/project.xcworkspace/xcuserdata
Pokemon.xcworkspace/xcuserdata
*.mobileprovision
*.cer
*.p12
*.certSigningRequest

# Misc
*.DS_Store
*.log
.vscode/

# CI/CD
fastlane/.env.default
fastlane/Firebase/
fastlane/Keys/
fastlane/Security/
fastlane/GoogleService-Info.plist
fastlane/.env.default
fastlane/Changelog/
report.xml
Preview.html